<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.fazooz">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sign_Up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fazooz"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrderActivity"
            android:parentActivityName=".Fazooz"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CurrentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Items"
            android:parentActivityName=".OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Seller_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Seller_main"
            android:label="@string/title_activity_seller_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Update_Menu" />
        <activity
            android:name=".payment"
            android:parentActivityName=".Items"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Internet_Status"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Delete_item_seller"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Current_Activity2"
            android:parentActivityName=".Fazooz"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Seller_Current"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile_Activity"
            android:parentActivityName=".Fazooz"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Seller_profile"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".No_Current_Orders"
            android:screenOrientation="portrait"
            android:parentActivityName=".Fazooz">
        </activity>
    </application>

</manifest>